/*
 Theme Name:     Oxford City Singers
 Theme URI:      n/a
 Description:    Child theme of compass
 Author:         Martyn Gigg
 Author URI:     n/a
 Template:       compass
 Version:        1.0.0
 Tags: blue, two-columns, threaded-comments, sticky-post, editor-style, custom-menu, theme-options, featured-images, responsive-layout, right-sidebar
*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/* =Theme customization starts here
------------------------------------------------------- */

.header {
    margin: 42px 0px 10px 0px;
}
.logo, .logo img {
    margin-top: -15px;
    height: auto;
    width: 95%;
}
#custom-header img {
    width: 100%;
}
.home_wrapper {
    padding: 35px 15px 50px 15px;
}
#menu .sf-menu li {
    margin-right: 1px;
}
.feature-content {
    margin-bottom: 35px;
}
.page_content_wrapper {
    margin-top: 40px;
}
.page_content .content_bar .home_title {
    padding-left: 0px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
}
.bottom_footer_content .themeinfo {
    text-align: right;
    margin-left: 0px;
    margin-right: 24px;
}
a {
    color: #1b8be0;
}


/*--------------------------------------------------------------------
 * Team member layout
 -------------------------------------------------------------------*/
.widget_woothemes_our_team {
  padding-top: 10px;
}
.widget_woothemes_our_team .columns-2,
.widget_woothemes_our_team .columns-3,
.widget_woothemes_our_team .columns-4,
.widget_woothemes_our_team .columns-5,
.widget_woothemes_our_team .columns-6 {
  overflow: hidden;
}
.widget_woothemes_our_team .columns-2 .team-member,
.widget_woothemes_our_team .columns-3 .team-member,
.widget_woothemes_our_team .columns-4 .team-member,
.widget_woothemes_our_team .columns-5 .team-member,
.widget_woothemes_our_team .columns-6 .team-member {
  float: left;
  margin-right: 3.8%;
}
.widget_woothemes_our_team .columns-2 .team-member.first,
.widget_woothemes_our_team .columns-3 .team-member.first,
.widget_woothemes_our_team .columns-4 .team-member.first,
.widget_woothemes_our_team .columns-5 .team-member.first,
.widget_woothemes_our_team .columns-6 .team-member.first {
  clear: both;
}
.widget_woothemes_our_team .columns-2 .team-member.last,
.widget_woothemes_our_team .columns-3 .team-member.last,
.widget_woothemes_our_team .columns-4 .team-member.last,
.widget_woothemes_our_team .columns-5 .team-member.last,
.widget_woothemes_our_team .columns-6 .team-member.last {
  margin-right: 0;
}
.widget_woothemes_our_team .columns-2 .team-member {
  width: 48%;
}
.widget_woothemes_our_team .columns-3 .team-member {
  width: 30.75%;
}
.widget_woothemes_our_team .columns-4 .team-member {
  width: 22.05%;
}
.widget_woothemes_our_team .columns-5 .team-member {
  width: 16.9%;
}
.widget_woothemes_our_team .columns-6 .team-member {
  width: 13.5%;
}
