#contain{
width:1140px;
margin-left:10px;
margin-top:20px;
}
#container{
	margin-top:35px;
}
.theme-image {
    float: left; margin: 0; padding:0; width: 294px;height: 250px;margin-bottom: 15px; clear: both;
}
.theme-desc {
    margin: 0;float: left;width: 540px;height: 250px;margin-bottom: 15px;margin-left:15px;
}
.theme-title a{
    font-size: 18px;
    text-decoration: none !important;
    font-weight: bold;
    color: #333;
}
.theme_container{
    background: #fff;
}
.theme_container .top_banner{
    text-align: center;
    background: url(images/top_banner.png);
    color: #fff;
    min-height: 415px;
    padding-top: 45px;
}
.theme_container .top_banner h1{
	  font-weight: 700;
  	  font-size: 38px;
	  margin: 45px 0 38px 0;
	  text-transform: uppercase;
}
.theme_container .top_banner .ruler{
	background: #2d4459;
	height: 3px;
	width: 300px;
	display: inline-block;
}
.theme_container .top_banner p{
	  font-size: 21px;
  	  font-weight: 300;
}
.theme_container .top_banner a.btn{
	background: #19a753;
	padding: 17px 20px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
    webkit-box-shadow: 0 5px 0 #0f6f37;
    -moz-box-shadow: 0 5px 0 #0f6f37;
    box-shadow: 0 5px 0 #0f6f37;
    border-radius: 4px;
    text-decoration: none;
    font-size: 24px;
      font-weight: 800;
    -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.theme_container .top_banner a.btn:hover{
	background: #08D05B;
}
.theme_container .top_banner .visit_site{
	  text-decoration: none;
	  font-size: 15px;
	  font-weight: 100;
	  margin-top: 22px;
	  color: #A8AFB6;
	  display: block;
}
.theme_container .page_feature{
	width: 840px;
	margin: 35px auto;
}
.theme_container .page_feature h2{
	text-align: center;
	margin-top: 38px;
	margin-bottom: 32px;
	font-size: 30px;
	  font-weight: 700;
}
.theme_container .page_feature .ruler{
	background: #e2e2e2;
	height: 3px;
	width: 250px;
	margin: 15px auto 50px auto;

}
.theme_container .page_feature .feature_item{
  width: 328px;
  display: inline-block;
  position: relative;
  padding-left: 52px;
}
.theme_container .page_feature .feature_item.odd{
	margin-right: 75px;
}
.theme_container .page_feature .feature_item.even{
}
.theme_container .page_feature .feature_item img{
	position: absolute;;
	top: 18px;
	left: 0;
}
.theme_container .page_feature .feature_item p{
	font-size: 16px;
}
.theme_container .theme_feature{
	text-align: center;
	background: #eaeaea;
	padding: 35px 0 35px 0;
}
.theme_container .theme_feature h2{
	font-size: 28px;
    margin: 20px 0 25px 0;
  font-weight: 700;
  text-transform: uppercase;
}
.theme_container .theme_feature .ruler{
	background: #ddd;
	height: 3px;
	width: 300px;
	display: inline-block;
	margin-bottom: 40px;
}
.theme_container .theme_feature ul{
	list-style: none;
	margin-bottom: 48px;
}
.theme_container .theme_feature ul li{
	width:202px;
	margin-right: 16px;
	display: inline-block;
	 -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.theme_container .theme_feature ul li p{
	color: #222;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 4px;
}
.theme_container .theme_feature ul li span.detail{
	color: #ababab;
}
.theme_container .theme_feature ul li:last-child{
	margin-right: 0;
}
.theme_container .theme_feature ul li .item{
    display: inline-block;
    background: #000;
    width: 192px;
    height: 184px;
}
.theme_container .theme_feature ul li .item img{
	margin-left: -4px;
}
.theme_container .theme_feature ul li .item span.zoom{
display: block;
text-align: center;
position: absolute;
top: 28%;
width: 100%;
}
.theme_container .theme_feature ul li .item span.zoom a {
display: inline-block;
font-size: 14px;
border: 2px solid #fff;
padding: 12px 15px;
text-transform: uppercase;
color: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
-webkit-backface-visibility: hidden;
-moz-transform: scale(0);
-webkit-transform: scale(0);
-o-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
background: rgba(0, 0, 0, 0.54);
}
.theme_container .theme_feature ul li .item:hover span.zoom a {
-moz-transform: scale(1);
-webkit-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
-webkit-backface-visibility: hidden;
}
.theme_container .theme_feature ul li .item:hover img{
    opacity: 0.5;
}
.theme_container .theme_feature h4{
	font-size: 24px;
	color: #9e9e9e;
}
.theme_container .theme_feature h4 a{
	text-decoration: none;
	color: #9e9e9e;
}
.theme_container .bottom_feature{
background: #453857;
text-align: center;
padding: 15px 0 15px 0;
}
.theme_container .bottom_feature h1{
	color: #fff;
}